# Student Loan Risk with Deep Learning

In [45]:
# Imports
import pandas as pd
import tensorflow as tf
import sklearn as skl
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [46]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [47]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [48]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [49]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"].values

# Display a sample of y
y[:5]

array([0, 0, 0, 1, 0], dtype=int64)

In [50]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking")

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [51]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [52]:
# Create a StandardScaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [53]:
# Create a deep neural network by assigning the number of input features, the number of layers, 
# and the number of neurons on each layer using TensorFlow’s Keras.
# Define the the number of inputs (features) to the model
# You can start with a two-layer deep neural network model that uses the relu activation function for both layers.
# Compile and fit the model using the binary_crossentropy loss function, the adam optimizer, and the accuracy 
# evaluation metric.
# When fitting the model, start with a small number of epochs, such as 50 or 100.
# Evaluate the model using the test data to determine the model’s loss and accuracy.
# Save and export your model to a keras file, and name the file student_loans.keras.

In [54]:

# Define the the number of inputs (features) to the model using TensorFlow’s Keras.
nn_model = tf.keras.models.Sequential()
input_nodes = len(X_train.columns)

# Review the number of features
input_nodes

11

In [55]:
# Define the number of hidden nodes for the first hidden layer (features/2)
hidden_nodes_layer1 =  input_nodes//2

# Define the number of hidden nodes for the second hidden layer(hidden layer1/2)
hidden_nodes_layer2 = hidden_nodes_layer1//2

# Define the number of neurons in the output layer should be number of output targets
output_nodes = 1

In [56]:
# Create the Sequential model /instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer INPUT ONLY GOES IN THE FIRST LAYER
nn_model.add(Dense(input_dim=input_nodes, units=hidden_nodes_layer1, activation="relu"))

# Add the second hidden layer
nn_model.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(Dense(units=output_nodes, activation="sigmoid"))

In [57]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 5)                 60

 dense_12 (Dense)            (None, 2)                 12

 dense_13 (Dense)            (None, 1)                 3

=================================================================
Total params: 75
Trainable params: 75
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [58]:
# Compile the Sequential model
# Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam`
# optimizer, and the `accuracy` evaluation metric.
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [59]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

38/38 [==============================] - 5s 12ms/step - loss: 0.6731 - accuracy: 0.5713
Epoch 2/50
38/38 [==============================] - 0s 11ms/step - loss: 0.6609 - accuracy: 0.5938
Epoch 3/50
38/38 [==============================] - 1s 14ms/step - loss: 0.6479 - accuracy: 0.6072
Epoch 4/50
38/38 [==============================] - 0s 11ms/step - loss: 0.6341 - accuracy: 0.6163
Epoch 5/50
38/38 [==============================] - 0s 8ms/step - loss: 0.6215 - accuracy: 0.6572
Epoch 6/50
38/38 [==============================] - 0s 11ms/step - loss: 0.6088 - accuracy: 0.6664
Epoch 7/50
38/38 [==============================] - 0s 9ms/step - loss: 0.5966 - accuracy: 0.6714
Epoch 8/50
38/38 [==============================] - 0s 11ms/step - loss: 0.5852 - accuracy: 0.6839
Epoch 9/50
38/38 [==============================] - 1s 15ms/step - loss: 0.5744 - accuracy: 0.6872
Epoch 10/50
38/38 [==============================] - 1s 17ms/step - loss: 0.5657 - accuracy: 0.6872
Epoch 11/50
38/38 [==============================] - 0s 8ms/step - loss: 0.5587 - accuracy: 0.6872
Epoch 12/50
38/38 [==============================] - 0s 9ms/step - loss: 0.5529 - accuracy: 0.6947
Epoch 13/50
38/38 [==============================] - 0s 12ms/step - loss: 0.5486 - accuracy: 0.6956
Epoch 14/50
38/38 [==============================] - 1s 13ms/step - loss: 0.5443 - accuracy: 0.6956
Epoch 15/50
38/38 [==============================] - 0s 10ms/step - loss: 0.5405 - accuracy: 0.6981
Epoch 16/50
38/38 [==============================] - 0s 9ms/step - loss: 0.5370 - accuracy: 0.7098
Epoch 17/50
38/38 [==============================] - 0s 10ms/step - loss: 0.5336 - accuracy: 0.7106
Epoch 18/50
38/38 [==============================] - 0s 8ms/step - loss: 0.5312 - accuracy: 0.7131
Epoch 19/50
38/38 [==============================] - 0s 10ms/step - loss: 0.5278 - accuracy: 0.7148
Epoch 20/50
38/38 [==============================] - 0s 11ms/step - loss: 0.5255 - accuracy: 0.7123
Epoch 21/50
38/38 [==============================] - 0s 13ms/step - loss: 0.5222 - accuracy: 0.7206
Epoch 22/50
38/38 [==============================] - 0s 10ms/step - loss: 0.5201 - accuracy: 0.7281
Epoch 23/50
38/38 [==============================] - 1s 22ms/step - loss: 0.5179 - accuracy: 0.7314
Epoch 24/50
38/38 [==============================] - 0s 11ms/step - loss: 0.5159 - accuracy: 0.7289
Epoch 25/50
38/38 [==============================] - 0s 6ms/step - loss: 0.5140 - accuracy: 0.7306
Epoch 26/50
38/38 [==============================] - 1s 14ms/step - loss: 0.5126 - accuracy: 0.7314
Epoch 27/50
38/38 [==============================] - 1s 19ms/step - loss: 0.5107 - accuracy: 0.7381
Epoch 28/50
38/38 [==============================] - 1s 15ms/step - loss: 0.5095 - accuracy: 0.7398
Epoch 29/50
38/38 [==============================] - 1s 14ms/step - loss: 0.5082 - accuracy: 0.7406
Epoch 30/50
38/38 [==============================] - 0s 8ms/step - loss: 0.5068 - accuracy: 0.7431
Epoch 31/50
38/38 [==============================] - 0s 8ms/step - loss: 0.5055 - accuracy: 0.7506
Epoch 32/50
38/38 [==============================] - 1s 15ms/step - loss: 0.5042 - accuracy: 0.7506
Epoch 33/50
38/38 [==============================] - 1s 14ms/step - loss: 0.5031 - accuracy: 0.7540
Epoch 34/50
38/38 [==============================] - 0s 13ms/step - loss: 0.5026 - accuracy: 0.7531
Epoch 35/50
38/38 [==============================] - 0s 13ms/step - loss: 0.5015 - accuracy: 0.7615
Epoch 36/50
38/38 [==============================] - 0s 11ms/step - loss: 0.5005 - accuracy: 0.7640
Epoch 37/50
38/38 [==============================] - 0s 10ms/step - loss: 0.4999 - accuracy: 0.7640
Epoch 38/50
38/38 [==============================] - 0s 12ms/step - loss: 0.4991 - accuracy: 0.7656
Epoch 39/50
38/38 [==============================] - 0s 12ms/step - loss: 0.4986 - accuracy: 0.7723
Epoch 40/50
38/38 [==============================] - 1s 13ms/step - loss: 0.4979 - accuracy: 0.7715
Epoch 41/50
38/38 [==============================] - 0s 13ms/step - loss: 0.4973 - accuracy: 0.7673
Epoch 42/50
38/38 [==============================] - 0s 10ms/step - loss: 0.4963 - accuracy: 0.7706
Epoch 43/50
38/38 [==============================] - 0s 8ms/step - loss: 0.4962 - accuracy: 0.7698
Epoch 44/50
38/38 [==============================] - 0s 9ms/step - loss: 0.4955 - accuracy: 0.7690
Epoch 45/50
38/38 [==============================] - 1s 18ms/step - loss: 0.4947 - accuracy: 0.7690
Epoch 46/50
38/38 [==============================] - 0s 11ms/step - loss: 0.4942 - accuracy: 0.7723
Epoch 47/50
38/38 [==============================] - 0s 11ms/step - loss: 0.4935 - accuracy: 0.7706
Epoch 48/50
38/38 [==============================] - 0s 11ms/step - loss: 0.4932 - accuracy: 0.7706
Epoch 49/50
38/38 [==============================] - 0s 12ms/step - loss: 0.4928 - accuracy: 0.7723
Epoch 50/50
38/38 [==============================] - 0s 10ms/step - loss: 0.4918 - accuracy: 0.7715

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [62]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Model Loss : {model_loss}, Accuracy Score {model_accuracy}")

13/13 [==============================] - 0s 9ms/step - loss: 0.5136 - accuracy: 0.7325
Model Loss : 0.5135923624038696, Accuracy Score 0.7325000166893005

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [64]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [65]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Load the model to a new object
nn_model_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [66]:
# Make predictions with the test data
predictions = nn_model.predict(X_test_scaled)

# Display a sample of the predictions
print((predictions[:5]))

13/13 [==============================] - 1s 6ms/step
[[0.27250648]
 [0.3691035 ]
 [0.83277637]
 [0.61346114]
 [0.97880054]]

In [72]:
# Save the predictions to a DataFrame and round the predictions to binary results
results = pd.DataFrame(predictions, columns=["Predictions"])
results["Predictions"]=round(results["Predictions"],0)
results.head()

   Predictions
0          0.0
1          0.0
2          1.0
3          1.0
4          1.0

### Step 4: Display a classification report with the y test data and predictions

In [73]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, results["Predictions"]))

              precision    recall  f1-score   support

           0       0.69      0.79      0.73       188
           1       0.78      0.68      0.73       212

    accuracy                           0.73       400
   macro avg       0.74      0.74      0.73       400
weighted avg       0.74      0.73      0.73       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**